.feed {
  margin-top: 0;
  /* max-width: fit-content; */
  border-right: 1px solid #e8f5fe;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed::-webkit-scrollbar {
  display: none;
}
.feedHeader > h2 {
  margin-top: 0;
  font-size: 2rem;
}
.feedHeader {
  z-index: 100;
  margin-top: 0;
  padding: 0;
  border: 1px solid #e8f5fe;
}
