.feedbox {
  padding: 1rem;
  border: 2px solid #e8f5fe;
  border-bottom: 8px solid #e8f5fe;
  justify-content: center;
  width: 90%;
}
.feedbox > form {
  display: flex;
  flex-direction: column;
}
.fas {
  color: #50b7f5;
}
.feedboxInput {
  padding: 1rem;
  display: flex;
}
.feedboxInput > input {
  flex: 1;
  margin-left: 1rem;
  font-size: 1.25rem;
  border: none;
  padding: 0.4rem;
  max-width: 75%;
}
.feedImage {
  border: none;
  margin: 0 1rem 1rem;
  padding: 1rem;
}
.feedButton {
  font-size: 1rem;
  background-color: #50b7f5;
  color: #e8f5fe;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  margin-left: auto;
  border-radius: 30px;
  cursor: pointer;
  width: 40%;
  font-weight: 900;
  text-transform: inherit;
}
.feedButton:hover {
  background-color: #e8f5fe;
  color: #50b7f5;
}
