* {
  top: 0;
}

.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 960px) {
  .drawer {
    margin-left: -75%;
    margin-top: -230%;
  }
  .App {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .feedHeader {
    position: relative;
    text-align: center;
  }
  .feed {
    padding: 0.6rem;
    min-width: 320px;
  }
}
