.post {
  border: 2px solid #e8f5fe;
  border-bottom: 4px solid #e8f5fe;
  padding: 1rem;
  margin: 2%;
  min-width: 80%;
}
.postHeader {
  display: flex;
  flex-direction: row;
}
.postDetail {
  font-size: 1.5rem;
}
.postAvatar {
  padding: 0.5rem;
  display: flex;
}
.postAvatar img {
  border-radius: 30px;
  height: 15%;
  width: 15%;
}
.footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.postImage {
  padding-right: 2rem;
  width: 60%;
  height: 20%;
}
